@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import "styles/header";
@import "styles/gallery";
@import "styles/pictograms";
@import "styles/contact";
@import "styles/footer";
@import "styles/animations";
@import "hamburgers/hamburgers";
@import "styles/normalize";

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:lang(pl) {
  *:lang(en) {
    display: none;
  }
}

:lang(en) {
  *:lang(pl) {
    display: none;
  }
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}